@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-5">
        <h2>Marka Listesi</h2>
        <p>
            Alttaki linke tıklayarak sistemde bulunan markaları listeyebilirsiniz.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44342/Brands">Marka Listtesi &raquo;</a></p>
    </div>
    <div class="col-md-5">
        <h2>Ürün Listesi</h2>
        <p>Alttaki linke tıklayarak sistemde bulunan ürünleri listeleyebilirsiniz.</p>
        <p><a class="btn btn-default" href="https://localhost:44342/Products">Ürün Listesi &raquo;</a></p>
    </div>
    
    <div class="col-md-5">
        <h2>Marka Ekle</h2>
        <p>Alttaki linke tıklayarak sisteme marka girişi yapabilirsiniz.</p>
        <p><a class="btn btn-default" href="https://localhost:44342/Brands/Create">Marka Ekle! &raquo;</a></p>
    </div>

    <div class="col-md-5">
        <h2>Ürün Ekle</h2>
        <p>Alttaki linke tıklayarak sisteme ürün ekleyebilirsiniz.</p>
        <p><a class="btn btn-default" href="https://localhost:44342/Products/Create">Ürün Ekle! &raquo;</a></p>
    </div>

    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>